body {
    padding: 32px;
    background-color: ghostwhite;
}

.logo {
    margin-top: 187px;
    text-align: center;
}

img {
    width:27%;
    height: auto;
}

.update {
    margin-left: auto
}